#night-sky {
  position: absolute; /* Ganti fixed dengan absolute */
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  pointer-events: none; /* Hindari interaksi dengan elemen di belakang */
}

#night-sky .star {
  --travel: 100vw;
  --size: 1;
}

#night-sky .star {
  position: relative;
  background: linear-gradient(-45deg, lightseagreen, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px lightseagreen);
  opacity: 1;
  width: calc(var(--size) * 2px);
  height: calc(var(--size) * 100px);
  transform: rotate(-45deg);
  animation: shooting-star ease-in-out infinite;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  top: var(--top);
  left: var(--left);
}

#night-sky .star::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -5px;
  width: calc(var(--size) * 7px);
  height: calc(var(--size) * 7px);
  border: lightseagreen 3.5px solid;
  background-color: lightseagreen;
  -webkit-clip-path: polygon(
    0% 50%,
    40% 40%,
    50% 0%,
    60% 40%,
    60% 40%,
    100% 50%,
    60% 60%,
    50% 100%,
    40% 60%,
    0% 50%
  );
  clip-path: polygon(
    0% 50%,
    40% 40%,
    50% 0%,
    60% 40%,
    60% 40%,
    100% 50%,
    60% 60%,
    50% 100%,
    40% 60%,
    0% 50%
  );
  transform: rotate(45deg);
}

@keyframes shooting-star {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translate(var(--travel), var(--travel)) rotate(-45deg);
  }
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%; /* Pastikan body mengisi dokumen */
}

.content {
  position: relative;
  z-index: 1;
}
